<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Workout Tracker</title>
</head>
<body>
    <div class="flow">
        <h1>Welcome to Your Workout Tracker</h1>
        <img src="https://i.ibb.co/1dCfZbY/5.jpg" border="0">

        <button class="btn"><a href="/add_workout">Add Workout</a></button>
     
        <button class="btn"><a href="/workout_history">View Workout History</a></button>
    </div>
</body>
</html>